<div class="guided-tour-button-container">
    @if (tourType) {
        <button
            mat-fab
            extended
            color="primary"
            type="button"
            aria-label="Tour this page"
            [matTooltip]="tooltipText || 'Tour this page'"
            matTooltipPosition="below"
            class="guide-btn white-space-nowrap"
            (click)="startTour()">

            <mat-icon aria-hidden="true">signpost</mat-icon>
            <span class="btn-text">Tour this page</span>
        </button>
    }
</div>