/* Styles for the guided tour button */
.guide-btn[type="button"] {
  position: absolute;
  top: 72px;
  right: 15px;
  width: auto;
  height: 36px;
  padding: 0 10px;
  background-color: var(--sys-primary);
  color: #fff;
  border-radius: 0.75rem 0.75rem 0 2px;
  z-index: 4;

  &:before {
    content: ' ';
    display: block;
    position: absolute;
    border-color: transparent transparent transparent #942924;
    border-width: 0px 0px 10px 8px;
    border-style: solid;
    right: -8px;
    border-radius: 0;
    width: 0;
    height: 10px;
    bottom: 0;
    top: auto;
    left: 100%;
  }

  .mat-icon {
    fill: var(--sys-on-primary);
    color: var(--sys-on-primary);
    margin-right: 0;
    margin-left: 0;
  }

  .mdc-button__label, .btn-text {
    margin-left: 5px;
    /*font-family: var(--mdc-text-button-label-text-font,var(--mat-sys-label-large-font) );
    font-weight: 500;*/

    @media only screen and (max-width:599px) {
      display: none;
    }
  }

  @media only screen and (max-width:599px) {
    padding: 0 8px;
  }
}
@media only screen and (min-width:1920px) {
  body:has(nde-custom-snack-bar nde-login) .guide-btn[type="button"] {
    right: 290px;
  }
}

/* ----- GUIDED TOUR ----- */
.driver-popover * {
  font-family: 'dm sans';
}
.driver-popover .material-icons {
  font-family: 'Material Icons' !important;
  vertical-align: text-top;
}
.driver-popover.ltu-tour {
  max-width: 400px;
  min-width: 350px;
}
.driver-popover.ltu-begin-tour {
  max-width: 450px;
}
.driver-popover.ltu-tour.ltu-tour-wide {
  max-width: 500px;
}
.driver-popover.ltu-tour.ltu-tour-extra-wide {
  max-width: 720px;
}
.ltu-tour .driver-popover-title {
  font-size: 28px;
  font-family: 'knockout';
  font-weight: 500;
}
.ltu-tour .driver-popover-description {
  font-size: 1rem;
  font-family: 'dm sans', Arial, sans-serif !important;
  font-weight: 400;
}
.driver-popover ul, .driver-popover ol {
    list-style: initial;
    padding-left: 40px;
}
.ltu-tour .driver-popover-footer {
  align-items: end;
}
.ltu-tour .driver-popover-progress-text {
  font-family: dm sans;
  font-size: 15px;
}
.ltu-tour .driver-popover-navigation-btns button {
  border-radius: 28px;
  height: 48px;
  border: 2px solid var(--sys-primary);
  font-size: 18px;
  font-family: dm sans;
  font-weight: 500;
  padding: 5px 20px;
  color: var(--sys-primary);
  background-color: #fff;
  text-shadow: none;
}
.ltu-tour .driver-popover-navigation-btns button:hover, .ltu-tour .driver-popover-navigation-btns button:focus {
  text-decoration: underline;
  color: var(--latrobe-red-shade-20);
  border-color: var(--latrobe-red-shade-20);
  background: transparent;
}
.ltu-tour .driver-popover-navigation-btns button.driver-popover-next-btn {
  background: var(--sys-primary);
  color: #fff;
}
.ltu-tour .driver-popover-navigation-btns button.driver-popover-next-btn:hover, .ltu-tour .driver-popover-navigation-btns button.driver-popover-next-btn:focus {
  background: var(--latrobe-red-shade-20);
  color: #fff;
}
/*.ltu-tour .driver-popover-navigation-btns button.driver-popover-next-btn:not(.no-icon):after {
  content: '';
  background-image: url(../img/chevron-right.svg);
  width: 20px;
  height: 20px;
  display: inline-block;
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(132deg) brightness(113%) contrast(101%);
  margin-left: 10px;
  background-size: contain;
  vertical-align: bottom;
  background-repeat: no-repeat;
  margin-right: -5px;
}
.ltu-tour .driver-popover-navigation-btns button.driver-popover-prev-btn:not(.no-icon):before {
  content: '';
  background-image: url(../img/chevron-left.svg);
  width: 20px;
  height: 20px;
  display: inline-block;
  filter: invert(36%) sepia(31%) saturate(3720%) hue-rotate(337deg) brightness(81%) contrast(124%);
  margin-right: 10px;
  background-size: contain;
  vertical-align: bottom;
  background-repeat: no-repeat;
  margin-left: -5px;
}
.ltu-tour.ltu-end-tour .driver-popover-navigation-btns button.driver-popover-next-btn:not(.no-icon):after {
  background-image: url(../img/check.svg);
}*/
.ltu-tour .driver-popover-close-btn {
  line-height: 30px;
  color: var(--sys-primary);
  font-size: 26px;
}
.ltu-tour .driver-popover-close-btn::before {
  border: 2px solid var(--sys-primary);
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: block;
  position: absolute;
  content: '';
  z-index: -1;
  left: 3px;
  top: 3px;
  box-sizing: border-box;
}
.ltu-tour .driver-popover-close-btn:hover, .ltu-tour .driver-popover-close-btn:focus {
  color: var(--latrobe-red-shade-20);
}
.ltu-tour .driver-popover-close-btn:hover:before, .ltu-tour .driver-popover-close-btn:focus:before {
  border-color: var(--latrobe-red-shade-20);
}
.driver-overlay path {
  stroke: #fff;
  stroke-width: 2;
}

/* hide the signin panel while guide is active (as it can cover elements) */
.driver-active mat-snack-bar-container:has(nde-login) {
  visibility: hidden;
}