<div id="dbHomeNotice" layout="row" layout-align="center center" class="bar alert-bar">
    <span class="bar-text">
        <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="8"></line></svg></span>
        <strong>Note:</strong> This will only search for databases, it does not search their contents.
    </span>
</div>