:root {
  --latrobe-black: #242424;
  --latrobe-red: #e2231b;

  --sys-primary: #e2231b;  
  --sys-secondary: #242424;
  --sys-primary-container: #ffdad4;
  --sys-primary-fixed: var(--sys-primary);
  --sys-on-primary-fixed-variant: #fff;
  --sys-secondary-container: #fce9e8;
  --sys-background: #fff8f7;
  /*--sys-outline: #b51c16;*/
  --sys-surface-tint: #b51c16;
  --sys-inverse-on-surface: #ffedea;
  --sys-tinted-on-surface: #eee;

  --mat-filled-button-state-layer-color: #000;
  --mat-filled-button-hover-state-layer-opacity: 0.2;

  --mdc-outlined-text-field-outline-color: var(--border);
}

/* ----- FONTS ----- */
@font-face {
  font-family:knockout;
  font-style:normal;
  font-weight:400;
  font-display:swap;
  src:url(./fonts/knockout/Knockout-50Welterweight.woff2) format("woff2");
  font-feature-settings:"ss02"
}
@font-face {
  font-display:swap;
  font-family:dm sans;
  font-style:normal;
  font-weight:400;
  src:url(./fonts/dm-sans/dm-sans-v11-latin_latin-ext-regular.woff2) format("woff2"),
  url(./fonts/dm-sans/dm-sans-v11-latin_latin-ext-regular.woff) format("woff")
}
@font-face {
  font-display:swap;
  font-family:dm sans;
  font-style:italic;
  font-weight:400;
  src:url(./fonts/dm-sans/dm-sans-v11-latin_latin-ext-italic.woff2) format("woff2"),
  url(./fonts/dm-sans/dm-sans-v11-latin_latin-ext-italic.woff) format("woff")
}
@font-face {
  font-display:swap;
  font-family:dm sans;
  font-style:normal;
  font-weight:500;
  src:url(./fonts/dm-sans/dm-sans-v11-latin_latin-ext-500.woff2) format("woff2"),
  url(./fonts/dm-sans/dm-sans-v11-latin_latin-ext-500.woff) format("woff")
}
@font-face {
  font-display:swap;
  font-family:dm sans;
  font-style:italic;
  font-weight:500;
  src:url(./fonts/dm-sans/dm-sans-v11-latin_latin-ext-500italic.woff2) format("woff2"),
  url(./fonts/dm-sans/dm-sans-v11-latin_latin-ext-500italic.woff) format("woff")
}
@font-face {
  font-display:swap;
  font-family:dm sans;
  font-style:normal;
  font-weight:700;
  src:url(./fonts/dm-sans/dm-sans-v11-latin_latin-ext-700.woff2) format("woff2"),
  url(./fonts/dm-sans/dm-sans-v11-latin_latin-ext-700.woff) format("woff")
}
@font-face {
  font-display:swap;
  font-family:dm sans;
  font-style:italic;
  font-weight:700;
  src:url(./fonts/dm-sans/dm-sans-v11-latin_latin-ext-700italic.woff2) format("woff2"),
  url(./fonts/dm-sans/dm-sans-v11-latin_latin-ext-700italic.woff) format("woff")
}
/* ----- END FONTS ----- */

/* typography */
html {
    --sys-body-large: 400 1rem / 1.5rem dm sans, Arial, sans-serif;
    --sys-body-large-font: dm sans, Arial, sans-serif;
    --sys-body-medium: 400 .875rem / 1.5rem dm sans, Arial, sans-serif;
    --sys-body-medium-font: dm sans, Arial, sans-serif;
    --sys-body-small: 400 .75rem / 1rem dm sans, Arial, sans-serif;
    --sys-body-small-font: dm sans, Arial, sans-serif;
    --sys-display-large: 400 3.562rem / 4rem dm sans, Arial, sans-serif;
    --sys-display-large-font: dm sans, Arial, sans-serif;
    --sys-display-medium: 400 2.812rem / 3.25rem dm sans, Arial, sans-serif;
    --sys-display-medium-font: dm sans, Arial, sans-serif;
    --sys-display-small: 400 2.25rem / 2.75rem dm sans, Arial, sans-serif;
    --sys-display-small-font: dm sans, Arial, sans-serif;
    --sys-headline-large: 400 2rem / 2.5rem dm sans, Arial, sans-serif;
    --sys-headline-large-font: dm sans, Arial, sans-serif;
    --sys-headline-medium: 400 1.75rem / 2.25rem dm sans, Arial, sans-serif;
    --sys-headline-medium-font: dm sans, Arial, sans-serif;
    --sys-headline-small: 400 1.5rem / 2rem dm sans, Arial, sans-serif;
    --sys-headline-small-font: dm sans, Arial, sans-serif;
    --sys-label-large: 500 .875rem / 1.25rem dm sans, Arial, sans-serif;
    --sys-label-large-font: dm sans, Arial, sans-serif;
    --sys-label-medium: 500 .75rem / 1rem dm sans, Arial, sans-serif;
    --sys-label-medium-font: dm sans, Arial, sans-serif;
    --sys-label-small: 500 .688rem / 1rem dm sans, Arial, sans-serif;
    --sys-label-small-font: dm sans, Arial, sans-serif;
    --sys-title-large: 400 1.375rem / 1.75rem dm sans, Arial, sans-serif;
    --sys-title-large-font: dm sans, Arial, sans-serif;
    --sys-title-medium: 500 1rem / 1.5rem dm sans, Arial, sans-serif;
    --sys-title-medium-font: dm sans, Arial, sans-serif;
    --sys-title-small: 500 .875rem / 1.25rem dm sans, Arial, sans-serif;
    --sys-title-small-font: dm sans, Arial, sans-serif;
}

section.container[_ngcontent-ng-c1597471306] .custom-search-bar-container[_ngcontent-ng-c1597471306] {
  height: 20rem;

  .background-overlay[_ngcontent-ng-c1597471306] {
    background-color: var(--sys-secondary) !important;
  }

  h2[_ngcontent-ng-c1597471306] {
    font-size: 3rem;
  }
}

/* reverse the initials (to the correct order) on user menu button */
.user-area[_ngcontent-ng-c4231447735] .user-area-logged-in[_ngcontent-ng-c4231447735] span[_ngcontent-ng-c4231447735] {
  unicode-bidi: bidi-override;
  direction: rtl;
  display: inline-block !important;
  line-height: 24px;
}

/* 'back to top' and 'report a problem' buttons 
.mat-mdc-mini-fab.report-a-problem-button {
  background: var(--sys-primary-fixed);

  .icon-primary-fill.mat-icon svg path {
    fill: var(--sys-on-primary-fixed-variant);
  }
}
*/
.report-a-problem-overlay-container[_ngcontent-ng-c2803578366] .report-submit[_ngcontent-ng-c2803578366] {
  border: none;

  &:hover, &:focus {
    background-color: var(--sys-surface-tint);
  }
}

/* header */
section.container[_ngcontent-ng-c1597471306] .top-bar[_ngcontent-ng-c1597471306] {
  padding-block: 1rem;

  div[_ngcontent-ng-c1597471306] div[_ngcontent-ng-c1597471306] {
    margin-left: 0;
  }
}
header nde-logo {
  margin-right: 20px;
  margin-left: 20px;
  order: 1;

  img {
    padding-top: 5px;
  }

  @media screen and (min-width: 600px) {
    margin-left: 0;
    order: unset;  
  }
}
nde-main-menu {
  order: 0;

  @media screen and (min-width: 600px) {
    order: unset;  
  }
}

/* black header (requires white LTU logo) 
section.container[_ngcontent-ng-c1597471306] .top-bar[_ngcontent-ng-c1597471306] {
  background-color: var(--latrobe-black);
  padding-block-start: 3rem;
  padding-block-end: 2rem;
}
nde-main-menu, nde-user-area {
  --mat-text-button-state-layer-color: var(--sys-on-primary-fixed-variant);
  --mat-text-button-ripple-color: #ffffff0c;
  --mat-icon-button-state-layer-color: var(--sys-on-primary-fixed-variant);
  --sys-outline: #fff9;
}
nde-main-menu .mat-mdc-button:not(:disabled) {
  color: var(--sys-on-primary-fixed-variant);

  .mat-icon svg path {
    fill: #fff;
  }

  .mdc-button__label {
    text-transform: none;
    font-size: 1rem;
  }

  &:not(.show-more-btn):hover .mdc-button__label {
    text-decoration: none;

    &:after {
      content: '';
      display: block;
      background: #e2231b;
      top: 100%;
      position: absolute;
      height: 2px;
      width: 100%;
    }
  }
}
header nde-logo {
  position: relative;
  width: auto;
  display: block;
  
  a {
    width: 220px;
    display: block;

    img {
      padding-top: 0;
      position: absolute;
      left: 0;
      top: -20px;
      height: 45px;
    }
  }
}
.main-menu-container[_ngcontent-ng-c431624541] .mat-divider[_ngcontent-ng-c431624541] {
  display: none;
}
@media only screen and (min-width: 600px) {
  .cdk-overlay-container:has(.main-menu-dialog) {
      top: 80px;
  }
} */
/* change the tooltip color (to be contrast better if the header is the blank version)
:root {
  --mdc-plain-tooltip-container-color: var(--sys-inverse-on-surface);
  --mdc-plain-tooltip-supporting-text-color: #242424;
}
.mat-mdc-tooltip-surface {
  box-shadow: 0 0 2px 1px #24242455;
} */

/* main menu */
nde-main-menu-dialog li:has(a[href*="/nde/tags?"]) {
  display: none;
}

/* footer */
footer {
  font-size: 0.9em;
  text-align: center; 
  padding: 1em; 
  background-color: var(--sys-tinted-on-surface); 

  > :last-child,  > :last-child > :last-child {
    margin-bottom: 0;
  }
}

/* home page */
nde-landing-page .home-page-container[_ngcontent-ng-c742759394] {
  margin-top: 4rem;
}

/* results page */
#searchResults .search-result-item[_ngcontent-ng-c2617106287]:focus-within {
  border-inline-start: none;
}
#searchResults .search-result-item[_ngcontent-ng-c2617106287]:has(.mdc-checkbox--selected) {
  border-inline-start: 4px solid var(--sys-primary);
}
.results-top-bar-container[_ngcontent-ng-c4113886278] {
    box-shadow: 0 -8px 0 0px var(--whiteBG);
}
.quicklink-menu-item .mat-icon svg path,
.scopus-badge .mat-icon svg path,
.webOfScience-badge .mat-icon svg path {
  fill: var(--sys-primary);
}
.np-search-container[_ngcontent-ng-c1764759741] button[_ngcontent-ng-c1764759741].mdc-button {
  margin-left: calc(var(--mat-text-button-horizontal-padding, 12px) * -1);
  padding: 0 var(--mat-text-button-horizontal-padding, 12px);
}
nde-carousel .prev-button[_ngcontent-ng-c4240042327], nde-carousel .next-button[_ngcontent-ng-c4240042327] {
  width: calc(var(--mdc-icon-button-icon-size) + 4px);
  height: calc(var(--mdc-icon-button-icon-size) + 4px);
}
.filter-checkbox.mat-mdc-checkbox .mdc-label div {
  flex-grow: 1;
}
.mat-mdc-checkbox[_ngcontent-ng-c3162346997] .exclude-btn[_ngcontent-ng-c3162346997] {
  --mdc-icon-button-state-layer-size: 32px !important;
  --mdc-icon-button-icon-size: 20px;
  margin-top: 4px;
}
.search-result-content[_ngcontent-ng-c1764759741] .filters-container[_ngcontent-ng-c1764759741] {
  box-shadow: 0 -1px 0 1px #fff;
  overflow-x: hidden;
}
.citation-indicator[_ngcontent-ng-c68073767]:hover {
  text-decoration: underline;
}
.record-thumbnail[_ngcontent-ng-c913457845][src*="/assets/images/icon_"] {
  outline: none;
}
.filter-checkbox.mat-mdc-checkbox .mdc-label div {
  padding-block-start: 10px;
}
nde-full-display-navigation[_ngcontent-ng-c542323497] {
  box-shadow: 0 -2px 0 0px var(--whiteBG);
}

/* databases */
nde-journal-database-layout-component {
  margin-bottom: 3rem;
}
.mat-tree:has(.mat-tree-node > button) > .mat-tree-node:not(:has(button)) {
  padding-left: 40px !important;

  &[aria-level="2"] {
    margin-left: 20px;
  }
}
.mat-tree-node > button {
  --mdc-icon-button-state-layer-size: 35px;
  margin-right: 5px;
}

/* newspapers */
nde-newspaper-search-container {
  .title[_ngcontent-ng-c1469883706] {
    font: var(--sys-title-large);
  }
  .results-container[_ngcontent-ng-c259129437] {
    margin-bottom: 2rem;
  }
}

/* browse */
.browse-page[_ngcontent-ng-c1911745620] {
  align-items: center;
  justify-content: center;
  margin-block-start: 4rem;
  margin-inline: auto;
  width: 100%;
  max-width: 63rem;

  nde-browse-home-page > .container:first-child {
    /*margin-block-start: 0;*/
  }
}

/* collections */
nde-collection-discovery-lobby-header .collection-discovery-header[_ngcontent-ng-c3087192115] {
  background-image: url("../images/header/featured-collections-header-img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  min-height: 150px;
}
.item-grid-card[_ngcontent-ng-c363324610] {
  height: 100%;
}
.item-grid-card[_ngcontent-ng-c363324610] > a {
  margin: -1rem -1rem 0;
  padding: 1rem;
  background: var(--sys-tinted-on-surface);
  border-radius: 0.5rem 0.5rem 0 0;
}
nde-collection-discovery-item-thumbnail .grid-thumbnail-container[_ngcontent-ng-c308499257] img[_ngcontent-ng-c308499257] {
  width: auto;

  &:not([src*="/assets/images/icon_"]) {
    outline: 1px solid var(--darkBG);
  }
}
nde-collection-discovery-gallery-collection .collection-grid-card[_ngcontent-ng-c4059351110] .grid-collection-properties[_ngcontent-ng-c4059351110] .collection-title[_ngcontent-ng-c4059351110] {
  word-break: break-word;
  hyphens: auto;
}

/* natural language search */
nde-natural-language-search-dialog .natural-language-search-content[_ngcontent-ng-c2691962693] .natural-language-search-content-form-container[_ngcontent-ng-c2691962693] {
    gap: 1rem;

    .scopes-dropdown-natural[_ngcontent-ng-c4242562855] .search-dropdown-container-button[_ngcontent-ng-c4242562855] {
        /*border: 1px solid var(--sys-outline);*/
        border-radius: 0.5rem;

        &:hover {
          border-color: var(--sys-on-surface);
        }

        &:focus, &.dropdown-active-button {
          border-color: var(--sys-primary);
        }
    }

    .textarea[_ngcontent-ng-c2691962693] {
        /*border: 1px solid var(--sys-outline);*/
        border: 1px solid var(--border);
        border-radius: 0.5rem;

        &:hover {
          border-color: var(--sys-on-surface);
        }

        &:focus {
          border-color: var(--sys-primary);
        }
    }
}

/* Advanced search */
nde-advanced-search {
  mat-form-field {
    background-color: var(--sys-background);
    --mdc-outlined-text-field-container-shape: 0.5rem;
  }
  
  .advanced-search-form-for-scope[_ngcontent-ng-c2190646528] .search-dropdown-container .search-dropdown-container-button {
    border-color: var(--border);
    border-radius: 0.5rem;

    &:hover {
      border-color: var(--sys-on-surface);
    }

    &:focus, &.dropdown-active-button {
      border-color: var(--sys-primary);
    }
  }
}

/* document delivery form */
nde-ill-request {
  margin-block-end: 1rem;
  display: block;

  .request-form-container.blank-request[_ngcontent-ng-c2383865171] {
    width: 100%;
  
    & > div:has(> h2) {
      background-image: url("../images/header/document-delivery-header-img.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      color: #fff;
      min-height: 150px;
      margin-bottom: 3rem;

      h2 {
        width: 100%;
        margin: 0 auto !important;
        font-size: 1.5rem;
        font-weight: 500;
        text-transform: unset;
      }
    }
    
    & > div:not(div:has(> h2)) {
      width: 100%;
      margin: 0 auto;
    }

    @media only screen and (max-width: 599.98px) {
      & > div {
        padding-inline: 1rem;
      }
    }

    @media (min-width: 600px) and (max-width: 959.98px) {
      & > div:not(div:has(> h2)), & > div:has(> h2) > h2 {
        width: clamp(288px,88.42544317%,848px);
      }
    }
    @media (min-width: 960px) and (max-width: 1279.98px) {
      & > div:not(div:has(> h2)), & > div:has(> h2) > h2 {
        width: clamp(912px,85%,1088px);
      }
    }
    @media (min-width: 1280px) {
      & > div:not(div:has(> h2)), & > div:has(> h2) > h2 {
        width: clamp(1088px,85%,1368px);
      }
    }
  }
}
/* hide the option groups in the Doc Del dialog */
.cdk-overlay-container:has(nde-base-request-form) .mat-mdc-autocomplete-panel .mat-mdc-optgroup-label {
  display: none;
}


/* facets toggle button */
nde-mobile-filters-toggle {
    z-index: 9;
}

/* dialogs */
.mat-mdc-dialog-actions .mat-mdc-icon-button {
  --mdc-icon-button-icon-size: 24px !important;
}
.mat-mdc-dialog-actions .mat-icon[_ngcontent-ng-c1742074232] {
  width: var(--mdc-icon-button-icon-size, 24px);
  height: var(--mdc-icon-button-icon-size, 24px);
  vertical-align: text-top !important;
}
.copy-to-clipboard-cont[_ngcontent-ng-c2220865467] .mdc-icon-button[_ngcontent-ng-c2220865467] {
  align-items: flex-start;
}

/* alert bar (notice) */
.alert-bar {
  margin: 0 1rem 4rem;
  padding: 1rem;
  max-width: 100%;
  border-top: 1px solid #c3e3e0;
  border-bottom: 1px solid #c3e3e0;
  background-color: #f2fbfa;
}
.alert-bar .bar-text {
  position: relative;
  display: table;
  margin: 0 auto;
  padding-left: 35px;
}
.alert-bar span.icon {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  left: 0;
  top: -2px;
}
.alert-bar span.icon svg {
  color: #00aa98;
}

/* resource recommender banner */
.resource-recommenders-container:has(nde-search-results-recommendations) nde-resource-recommender-banner {
  margin-bottom: 1rem;
  display: block;
}
nde-resource-recommender-banner {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  display: block;

  @media screen and (min-width: 600px) {
    margin-left: 0;
    margin-right: 0;
    display: unset;
  }

  .resource-recommender-banner-container[_ngcontent-ng-c1626620944] {
    margin-bottom: 0;
    max-width: 900px;
    height: 17rem;
    box-shadow: 0 0 0 2px #e2231b;

    .banner-close-button[_ngcontent-ng-c1626620944] {
      z-index: 1;
      background: transparent;

      .mat-icon svg path {
        /*fill: var(--sys-outline);*/
        fill: var(--sys-on-secondary-fixed-variant);
      }
    }

    .banner-button[_ngcontent-ng-c1626620944] {
      border: none;
    }

    .resource-recommender-banner-overlay[_ngcontent-ng-c1626620944] {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      max-width: 100%;
      border-radius: 0.5rem;
      /*padding-right: 50px;*/
      background: #fce9e8;

      .banner-name[_ngcontent-ng-c1626620944] {
        color: var(--latrobe-black);
        display: none;
      }

      .banner-description[_ngcontent-ng-c1626620944] {
        display: -webkit-box;
        font-size: 0.775rem;
        -webkit-line-clamp: 9;
        line-clamp: 9;
        overflow-wrap: normal;
        overflow: hidden;
        -webkit-box-orient: vertical;
        line-height: normal;
        word-break: break-word;
        white-space: normal;
        color: var(--latrobe-black);
      }

      .banner-title[_ngcontent-ng-c1626620944] {
        color: var(--latrobe-black);
        font-size: 1.2rem;
      }

      /* adds the 'swish' background shape (like the default vertical banner) 
      &:before {
        content: '';
        position: absolute;
        top: 0%;
        right: -22px;
        height: 100%;
        width: 200px;
        background-color: var(--sys-primary-fixed);
        z-index: 0;
        clip-path: path("M251.35,249.99H34.24c-1.94,0-3.76-1.1-4.89-2.98-12.36-20.55-31.43-73.46-3.81-152.39C50.36,23.71,13.02.33,13.02.33L251.35,0v250Z");
      }*/

      /* adds a background image masked with a 'swish'
      &:after {
        content: '';
        position: absolute;
        top: -5%;
        right: -30px;
        height: 18rem;
        width: 200px;
        z-index: 0;
        background-image: url("../images/header/featured-collections-header-img.png");
        background-size: cover;
        background-repeat: no-repeat;
        clip-path: path("M251.35,249.99H34.24c-1.94,0-3.76-1.1-4.89-2.98-12.36-20.55-31.43-73.46-3.81-152.39C50.36,23.71,13.02.33,13.02.33L251.35,0v250Z");
      }*/
    }

    @media screen and (min-width: 400px) {
      .resource-recommender-banner-overlay[_ngcontent-ng-c1626620944] { 
        .banner-description[_ngcontent-ng-c1626620944] {
          font-size: 0.8rem;
        }
      }
    }
    @media screen and (min-width: 500px) {
      height: 15rem;
    }
    @media screen and (min-width: 700px) {
      .resource-recommender-banner-overlay[_ngcontent-ng-c1626620944] { 
        padding-right: 50px;

        .banner-title[_ngcontent-ng-c1626620944] {
          font-size: 1.75rem;
        }
        .banner-description[_ngcontent-ng-c1626620944] {
          font-size: 0.875rem;
          -webkit-line-clamp: 6;
          line-clamp: 6;
        }
      }
    }
    @media screen and (min-width: 960px) {
      height: 13rem;
    }

    /* the following style is dependent on the path of a banner's background image - it's for a 'Cultural sensitivity advice' banner */
    &[style*="cultural-advice_DISABLED"] {
      box-shadow: none;

      /* when image used */
      .banner-close-button[_ngcontent-ng-c1626620944] {
        background-color: #000b;

        .mat-mdc-button-persistent-ripple {
          background-color: var(--sys-on-primary-fixed-variant);
          opacity: 0.3;
        }

        .mat-icon svg path {
          fill: var(--sys-on-primary-fixed-variant);
        }
      }
      /* when no image, but gradient 
      .banner-close-button[_ngcontent-ng-c1626620944] {
        .mat-icon svg path {
          fill: var(--sys-on-surface);
        }
      }*/

      .resource-recommender-banner-overlay[_ngcontent-ng-c1626620944] {
        padding-right: 60px;
        background: linear-gradient(135deg, #fce9e8 20%, #ffd3be 80%); /* when image used */
        /*background: linear-gradient(110deg, #fce9e8 0%, #e9c6b5 80%, #cd9a83 100%); /* when no image */

        &:before {
          content: none;
        }

        &:after {
          content: '';
          position: absolute;
          top: -5%;
          right: -100px;
          height: 18rem;
          width: 200px;
          z-index: 0;
          background-image: url("../images/graphics/AdobeStock_291128647_partial.png");
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
      @media screen and (min-width: 500px) {
        .resource-recommender-banner-overlay[_ngcontent-ng-c1626620944] { 
          padding-right: 100px;

          &:after {
            top: -8%;
            right: -70px;
            height: 17rem;
          }
        }
      }
      @media screen and (min-width: 840px) {
        .resource-recommender-banner-overlay[_ngcontent-ng-c1626620944] { 
          padding-right: 170px; /* when image used */

          &:after {
            right: 0;
          }
        }
      }
    }
    
  }
  
}